[submodule "beat_mouse_project"]
	path = beat_mouse_project
	url = git@github.com:nickdecodes/beat_mouse_project.git
[submodule "calculator_project"]
	path = calculator_project
	url = git@github.com:nickdecodes/calculator_project.git
[submodule "student_manager_project"]
	path = student_manager_project
	url = git@github.com:nickdecodes/student_manager_project.git
[submodule "test_framework_project"]
	path = test_framework_project
	url = git@github.com:nickdecodes/test_framework_project.git
[submodule "chatroom_project"]
	path = chatroom_project
	url = git@github.com:nickdecodes/chatroom_project.git
[submodule "lan_pihealth_project"]
	path = lan_pihealth_project
	url = git@github.com:nickdecodes/lan_pihealth_project.git
[submodule "my_calculator_project"]
	path = my_calculator_project
	url = git@github.com:nickdecodes/my_calculator_project.git
[submodule "spider_run_project"]
	path = spider_run_project
	url = git@github.com:nickdecodes/spider_run_project.git
[submodule "image_oss2_project"]
	path = image_oss2_project
	url = git@github.com:nickdecodes/image_oss2_project.git
[submodule "alien_invasion_project"]
	path = alien_invasion_project
	url = git@github.com:nickdecodes/alien_invasion_project.git
[submodule "data_visual_project"]
	path = data_visual_project
	url = git@github.com:nickdecodes/data_visual_project.git
[submodule "tensorflow_learning_project"]
	path = tensorflow_learning_project
	url = git@github.com:nickdecodes/tensorflow_learning_project.git
[submodule "hython_language_parser_project"]
	path = hython_language_parser_project
	url = git@github.com:nickdecodes/hython_language_parser_project.git
[submodule "ivisitor_expression_project"]
	path = ivisitor_expression_project
	url = git@github.com:nickdecodes/ivisitor_expression_project.git
[submodule "lisp_syntax_parser_project"]
	path = lisp_syntax_parser_project
	url = git@github.com:nickdecodes/lisp_syntax_parser_project.git
[submodule "distributed_cluster_detection_system_project"]
	path = distributed_cluster_detection_system_project
	url = git@github.com:nickdecodes/distributed_cluster_detection_system_project.git
[submodule "web_manager_project"]
	path = web_manager_project
	url = git@github.com:nickdecodes/web_manager_project.git
[submodule "rapid_json_project"]
	path = rapid_json_project
	url = git@github.com:nickdecodes/rapid_json_project.git
[submodule "lib_curl_project"]
	path = lib_curl_project
	url = git@github.com:nickdecodes/lib_curl_project.git
[submodule "alien-invasion-project"]
	path = alien-invasion-project
	url = git@github.com:nickdecodes/alien-invasion-project.git
[submodule "beat-mouse-project"]
	path = beat-mouse-project
	url = git@github.com:nickdecodes/beat-mouse-project.git
[submodule "calculator-project"]
	path = calculator-project
	url = git@github.com:nickdecodes/calculator-project.git
[submodule "chatroom-project"]
	path = chatroom-project
	url = git@github.com:nickdecodes/chatroom-project.git
[submodule "data-visual-project"]
	path = data-visual-project
	url = git@github.com:nickdecodes/data-visual-project.git
[submodule "distributed-cluster-detection-system-project"]
	path = distributed-cluster-detection-system-project
	url = git@github.com:nickdecodes/distributed-cluster-detection-system-project.git
[submodule "hython-language-parser-project"]
	path = hython-language-parser-project
	url = git@github.com:nickdecodes/hython-language-parser-project.git
[submodule "image-oss2-project"]
	path = image-oss2-project
	url = git@github.com:nickdecodes/image-oss2-project.git
[submodule "ivisitor-expression-project"]
	path = ivisitor-expression-project
	url = git@github.com:nickdecodes/ivisitor-expression-project.git
[submodule "lan-pihealth-project"]
	path = lan-pihealth-project
	url = git@github.com:nickdecodes/lan-pihealth-project.git
[submodule "libcurl-project"]
	path = libcurl-project
	url = git@github.com:nickdecodes/libcurl-project.git
[submodule "lisp-syntax-parser-project"]
	path = lisp-syntax-parser-project
	url = git@github.com:nickdecodes/lisp-syntax-parser-project.git
[submodule "my-calculator-project"]
	path = my-calculator-project
	url = git@github.com:nickdecodes/my-calculator-project.git
[submodule "rapid-json-project"]
	path = rapid-json-project
	url = git@github.com:nickdecodes/rapid-json-project.git
[submodule "spider-run-project"]
	path = spider-run-project
	url = git@github.com:nickdecodes/spider-run-project.git
[submodule "student-manager-project"]
	path = student-manager-project
	url = git@github.com:nickdecodes/student-manager-project.git
[submodule "tensorflow-learning-project"]
	path = tensorflow-learning-project
	url = git@github.com:nickdecodes/tensorflow-learning-project.git
[submodule "test-framework-project"]
	path = test-framework-project
	url = git@github.com:nickdecodes/test-framework-project.git
[submodule "web-manager-project"]
	path = web-manager-project
	url = git@github.com:nickdecodes/web-manager-project.git
