[submodule "beat_mouse_project"]
	path = beat_mouse_project
	url = git@github.com:nickdecodes/beat_mouse_project.git
[submodule "calculator_project"]
	path = calculator_project
	url = git@github.com:nickdecodes/calculator_project.git
[submodule "student_manager_project"]
	path = student_manager_project
	url = git@github.com:nickdecodes/student_manager_project.git
[submodule "test_framework_project"]
	path = test_framework_project
	url = git@github.com:nickdecodes/test_framework_project.git
[submodule "chatroom_project"]
	path = chatroom_project
	url = git@github.com:nickdecodes/chatroom_project.git
[submodule "lan_pihealth_project"]
	path = lan_pihealth_project
	url = git@github.com:nickdecodes/lan_pihealth_project.git
[submodule "my_calculator_project"]
	path = my_calculator_project
	url = git@github.com:nickdecodes/my_calculator_project.git
[submodule "spider_run_project"]
	path = spider_run_project
	url = git@github.com:nickdecodes/spider_run_project.git
[submodule "image_oss2_project"]
	path = image_oss2_project
	url = git@github.com:nickdecodes/image_oss2_project.git
[submodule "alien_invasion_project"]
	path = alien_invasion_project
	url = git@github.com:nickdecodes/alien_invasion_project.git
[submodule "data_visual_project"]
	path = data_visual_project
	url = git@github.com:nickdecodes/data_visual_project.git
[submodule "tensorflow_learning_project"]
	path = tensorflow_learning_project
	url = git@github.com:nickdecodes/tensorflow_learning_project.git
[submodule "hython_language_parser_project"]
	path = hython_language_parser_project
	url = git@github.com:nickdecodes/hython_language_parser_project.git
[submodule "ivisitor_expression_project"]
	path = ivisitor_expression_project
	url = git@github.com:nickdecodes/ivisitor_expression_project.git
