[submodule "beat_mouse_project"]
	path = beat_mouse_project
	url = git@github.com:nickdecodes/beat_mouse_project.git
[submodule "calculator_project"]
	path = calculator_project
	url = git@github.com:nickdecodes/calculator_project.git
[submodule "student_manager_project"]
	path = student_manager_project
	url = git@github.com:nickdecodes/student_manager_project.git
[submodule "test_framework_project"]
	path = test_framework_project
	url = git@github.com:nickdecodes/test_framework_project.git
[submodule "chatroom_project"]
	path = chatroom_project
	url = git@github.com:nickdecodes/chatroom_project.git
[submodule "lan_pihealth_project"]
	path = lan_pihealth_project
	url = git@github.com:nickdecodes/lan_pihealth_project.git
